streamlit
fastap
uvicor
request
pydanti
pyya
python-dotenv
langchain_groq
langchain
langchain_community.embeddings
langchain.text_splitter
langchain.chains.combine_documents
langchain_core.prompts
langchain.chains
langchain_community.vectorstores
langchain_community.document_loaders
faiss-cpu
httpx
PyPDF2
huggingface-hub=
